:root{
    font-family: "Libre Baskerville", serif;
    font-family: "Roboto", serif;
    font-size: 16px;
    background-color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar{
    margin: 0;
    height: 6.5rem;
    width: 100vw;

    font-family: "Libre Baskerville", serif;
    display: flex;
    position: fixed;
    border-bottom: dotted 3px #888888;
    background-color: whitesmoke;
}

.navitem{
    list-style: none;
    margin-right: 5rem;
    display: inline-block
}

.navlink, .navlink a:link, .navlink a:active, .navlink a:visited{
    margin-top: auto;
    margin-bottom: auto;

    display: inline-block;
    text-decoration: none;
    color: #888888;
}

.navlink a:hover{
    text-decoration: underline;
}

.logo{
    border: solid 4px #888888;
    height: 4rem;
    width: 4rem;
    border-radius: 5%;
    text-align: center;
    margin-right: 0;
}


/* Main Content */
.main{
    padding-top: 6.5rem;
}