:root{
    font-family: "Libre Baskerville", serif;
    font-family: "Roboto", serif;
    font-size: 16px;
    background-color: white;
    
    --main-background: white;
    --secondary-background: whitesmoke;
    --tertiary-background: #efefef;
    --main-colour: #888888;
    --hidden-text: #dddddd;

    color: var(--main-colour);
}

@media screen and (orientation:portrait){
    :root *{
        font-size: 24px;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar{
    margin: 0;
    height: 6.5rem;
    width: 100vw;
    z-index: 42;

    font-family: "Libre Baskerville", serif;
    display: flex;
    position: fixed;
    border-bottom: dotted 3px var(--main-colour);
    background-color: var(--secondary-background);
}

.navitem{
    list-style: none;
    margin-right: 5rem;
    display: inline-block
}

.navlink, .navlink a:link, .navlink a:active, .navlink a:visited{
    margin-top: auto;
    margin-bottom: auto;

    display: inline-block;
    text-decoration: none;
    color: var(--main-colour);
}

.navitem a:hover{
    text-decoration: underline;
}

.logo{
    border: solid 4px var(--main-colour);
    height: 4rem;
    width: 4rem;
    border-radius: 5%;
    text-align: center;
    margin-right: 0;
}


/* Main Content */
/*.main{
    padding-top: 6.5rem;
}*/

.content{
    height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 6.5rem;
}

/* The title page */
.title{
    font-family: "Libre Baskerville", serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    margin: 0;
    font-size: 12rem;
}

.blink{
    display: inline-block;
    animation: blink 1s linear infinite;

    font-weight: 50;
    text-decoration: none;
    color: #000000;
    font-size: 12rem;
}

@keyframes blink{
    0% {opacity: 1;}
    50% {opacity: 1;}
    50.1% {opacity: 0;}
    100% {opacity: 0;}
}

/* About us */

#about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}

/* Demo controls */
#about_controls{
    grid-column: 1;
    display: block;

    margin: auto 10%;

    height: 20rem;
    min-width: 300px;
    background: var(--tertiary-background);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.focus_levels{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
}

.focus_level{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.focus_level a, .focus_level a:active, .focus_level a:visited{
    margin: auto;

    text-align: center;
    display: flex;
    flex-direction: column;

    color: var(--main-colour);
    text-decoration: none;
}

.focus_level a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.focus_level a::before{
    content: "";
    text-align: center;
    align-self: center;
    display: block;

    border: solid var(--main-colour);
    border-radius: 100px;
    height: 16px;
    width: 16px;

    margin-bottom: 10%;
}

.active::before{
    background-color: var(--main-colour);
}

/* About blurb */
#about ins.important{
    text-decoration: none;
}

#about_text{
    grid-column: 2;
    padding-right: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

#about_text p, #about_text ins{
    color: var(--main-colour);
    transition: ease-in 200ms;
}

#about_text.important p{
    color: var(--hidden-text);
    transition: ease-in 300ms;
}

#about_text.important .important{
    color: var(--main-colour);
    transition: ease-in 300ms;
}

#about_text.very p, #about_text.very .important{
    /* ie if the class was class="very important",
     ignore the important, not very important */
    color: var(--hidden-text);
    transition: ease-in 300ms;
}

#about_text.very .very{
    color: var(--main-colour);
    transition: ease-in 300ms;
}